<footer class="footer">
  <div class="footer__content">
    <img
      class="footer__logo footer__logo_desktop"
      src="~@images/footer_logo_desktop_horizontal.svg"
      alt="Логотип РТ Экспресс"
    />
    <img
      class="footer__logo footer__logo_mobile"
      src="~@images/footer_logo_mobile_vertical.svg"
      alt="Логотип РТ Экспресс"
    />
    <nav class="footer__menu">
			<% let dataArr = navFooterData.navFooter; %>
			<% while (dataArr.length > 0) { %>
				<ul class="footer__menu-list">
				<% const threeItems = dataArr.slice(0, 3); %>
				<% threeItems.forEach(({ name, href }) => { %>
					<li class="footer__list-item">
						<a class="footer__menu-link" href="<%= href %>"
							><%= name %></a
						>
					</li>
					<% }); %>
					<% dataArr = dataArr.slice(3); %>
				</ul>
					<% } %>
    </nav>
    <p class="footer__copyright">2023&nbsp©&nbspRTE&nbspGroup</p>
  </div>
</footer>
