<header class="header">
  <div class="header__container">
    <img
      class="header__logo"
      src="~@images/logo_header.png"
      alt="Логотип компании РТ Экспресс"
    />
    <img
      class="header__logo_small"
      src="~@images/header_logo_small.png"
      alt="Логотип компании РТ Экспресс"
    />
    <div class="header__contacts">
      <img
        class="header__call-icon"
        src="~@images/call_Icon.png"
        alt="Иконка трубки телефона"
      />
      <h2 class="header__phone-number">+7 917 275-90-13</h2>
      <button class="button button_type_default header__place-order-btn">
        <p class="button__text">Оформить заказ</p>
      </button>
      <button
        class="header__list-btn"
        type="button"
        aria-label="Значок выпадающего списка"
      ></button>
    </div>
  </div>
  <nav class="header__nav-links">
    <% navHeaderData.navHeader.forEach(({ name, href }) => { %>
    <a class="header__link" rel="link" href="<%= href %>"><%= name %></a>
    <% }); %>
  </nav>
  <!-- !!!!! ВАЖНО! Дублирование кода, 
    для попада используются те же компоненты, что и для самого Header-->
  <div class="popup header__popup header__popup_opened">
    <div class="header__container">
      <img
        class="header__logo_small"
        src="~@images/header_logo_small.png"
        alt="Логотип компании РТ Экспресс"
      />
      <div class="header__contacts">
        <img
          class="header__call-icon"
          src="~@images/call_Icon.png"
          alt="Иконка трубки телефона"
        />
        <h2 class="header__phone-number">+7 917 275-90-13</h2>
        <button
          class="header__list-close-btn"
          type="button"
          aria-label="Кнопка Закрыть"
        ></button>
      </div>
    </div>
    <nav class="header__popup-nav-links">
      <% navHeaderData.navHeader.forEach(({ name, href }) => { %>
      <a class="header__link" rel="link" href="href">name</a>
      <% }); %>
    </nav>
    <button class="button button_type_default header__popup-place-order-btn">
      <p class="button__text">Оформить заказ</p>
    </button>
  </div>
</header>
