<section class="info-form" id="get-service">
    <div class="info-form__container">
      <h1 class="info-form__title">Услуги</h1>
      <p class="info-form__about">
        RTE Group оказывает полный комплекс услуг по перевозке
        крупногабаритных и негабаритных грузов, а также доставке
        специальной техники. Надежный, продуманный сервис, разработкой
        которого занимались специалисты с 20-летним опытом в логистике.
        Строгое соблюдение сроков, гарантия результата по договору, новый
        автопарк — это лишь малая часть преимуществ, которые обеспечит RTE
        Group.   География работы — вся Россия и ближнее зарубежье. Не
        имеет значения, насколько удален ваш регион  — мы готовы
        предложить решение логистической задачи «под ключ»: от проработки
        маршрута до погрузки оборудования на транспорт и выгрузки в
        конечной точке. Ознакомьтесь со списком услуг и получите
        бесплатную консультацию.
      </p>
    </div>
    <form class="form" novalidate>
      <div class="form__container">
        <p class="form__title form__text form__text_type_title">
          Оставить заявку на перевозку
        </p>
        <div class="input form__field-name">
          <div class="input__container name-container">
            <input
              type="text"
              id="name"
              class="input__field input__text input__text_type_field"
              placeholder=""
              required
            />
            <label
              class="input__placeholder input__text input__text_type_placeholder name-placeholder"
              >Имя*</label
            >
          </div>
          <span class="input__text_type_error name-error"></span>
        </div>
        <div class="input form__field-phone">
          <div class="input__container phone-number-container">
            <input
              type="text"
              id="phone-number"
              class="input__field input__text input__text_type_field"
              placeholder=""
              required
            />
            <label
              class="input__placeholder input__text input__text_type_placeholder phone-number-placeholder"
              >Телефон*</label
            >
          </div>
          <span class="input__text_type_error phone-number-error"></span>
        </div>
        <div class="input form__field-details">
          <div class="input__container">
            <textarea
              type="text"
              id="summary"
              class="input__field input__text input__text_type_field"
              placeholder=""
            ></textarea>
            <label
              class="input__placeholder input__text input__text_type_placeholder"
              >Краткая характеристика груза</label
            >
          </div>
          <div class="input__caption form__caption">
            <label for="caption-checkbox" class="form__checkbox"
              ><input
                type="checkbox"
                name="caption-checkbox"
                id="caption-checkbox"
                class="form__checkbox-control"
                required
              />
              <span class="form__checkbox-viewer"></span>
            </label>
            <p
              class="input__text input__text_type_caption form__text form__text_type_caption"
            >
              Согласен на обработку персональных данных в соответствии с
              <a href="#" class="form__link" target="_blank"
                >политикой конфиденциальности</a
              >
            </p>
          </div>
        </div>
        <button
          type="submit"
          class="button button_type_default form__button"
        >
          <p class="button__text">Отправить</p>
        </button>
      </div>
    </form>
  </section>