<section class="list-drop-down" id="frequent-questions">
    <h2 class="list-drop-down__title section-title">
      Часто задаваемые вопросы
    </h2>
    <div class="list-drop-down__menu">
      <div class="list-drop-down__item" id="logistic-time">
        <a class="list-drop-down__item-el" href="#"
          >Как долго займет доставка моего груза?</a
        >
        <button type="button" class="list-drop-down__btn"></button>
        <template id="list-drop-down__answer">
        <p class="list-drop-down__answer">
        </p>
      </template>
      </div>
      <div class="list-drop-down__item" id="price">
        <a class="list-drop-down__item-el" href="#"
          >Как узнать стоимость перевозки моего груза?</a
        >
        <button type="button" class="list-drop-down__btn"></button>
      </div>
      <div class="list-drop-down__item" id="transport-types">
        <a class="list-drop-down__item-el" href="#"
          >Какие виды транспорта вы предлагаете для перевозки моего
          груза?</a
        >
        <button type="button" class="list-drop-down__btn"></button>
      </div>
      <div class="list-drop-down__item" id="parts-weight">
        <a class="list-drop-down__item-el" href="#"
          >Какой объем груза я могу перевезти на вашем транспорте?</a
        >
        <button type="button" class="list-drop-down__btn"></button>
      </div>
      <div class="list-drop-down__item" id="parts-drop-on-off">
        <a class="list-drop-down__item-el" href="#"
          >Как происходит загрузка и выгрузка груза?</a
        >
        <button type="button" class="list-drop-down__btn"></button>
      </div>
    </div>
  </section>