<nav class="nav">
  <ul class="nav__list">
    <li class="nav__list-item">
      <a class="nav__link" href="../pages/services.html">Услуги</a>
    </li>
    <li class="nav__list-item">
      <a class="nav__link" href="../pages/autopark.html">Автопарк</a>
    </li>
    <li class="nav__list-item">
      <a class="nav__link" href="../pages/cases.html">Кейсы</a>
    </li>
    <li class="nav__list-item">
      <a class="nav__link" href="../pages/cities.html">Города</a>
    </li>
    <li class="nav__list-item">
      <a class="nav__link" href="../pages/about.html">О компании</a>
    </li>
  </ul>
  <button class="nav__order-button"></button>
</nav>
