$bgDarkColor: #1a1a1a;
$bgGrayColor: #222;
$primaryGreenColor: #0c6;
$white: white;
$colorTypeFail: #f53;
$screenWidthMedium: 1079px;
$screenWidthSmall: 767px;
$colorLinkFooter: #939393;
$colorGreenDarker: #00994c;
$colorInputBorderDefault: rgb(128 128 128 / 50%);
$colorInputBorderHover: white;
