<!doctype html>
<html lang="ru">
  <head>
    <!-- Meta tags of site pages -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta
      name="description"
      content="Наш автопарк - это отражение нашего стремления к инновациям, надежности и высочайшему качеству обслуживания."
    />

    <meta name="keywords" content="HTML5, CSS" />
    <meta name="author" content="Web-разработка: Ильяс Сибгатуллин" />
    <meta name="author" content="Web-разработка: Даниил Рябов" />
    <meta name="author" content="Web-разработка: Виктор Воронков" />
    <meta name="author" content="Web-разработка: Анна Кособуцкая" />
    <meta name="author" content="Web-разработка: Екатерина Яковлева" />
    <meta name="author" content="Web-разработка: Андрей Ланцов" />
    <meta name="author" content="Web-разработка: Богдан Тимощук" />
    <meta name="author" content="Web-разработка: Светлана Подсобляева" />

    <!-- Open Graph Meta Tags -->
    <meta property="og:type" content="business.business" />
    <meta property="og:title" content="Автопарк" />
    <meta
      property="og:description"
      content="Наш автопарк - это отражение нашего стремления к инновациям, надежности и высочайшему качеству обслуживания."
    />
    <meta property="og:url" content="https://rt-express.ru/autopark" />
    <meta property="og:image" content="https://i.imgur.com/eRmjgqB.png" />
    <meta property="og:site_name" content="РТ Экспресс" />
    <meta property="og:locale" content="ru_RU" />

    <title>Автопарк</title>

    <link rel="stylesheet" href="main.css" />
  </head>

  <body class="page">
    <div class="page__container">
      <%= require('@common.blocks/header.ejs').default %>
      <main>
        <section class="info-form"></section>
        <section class="feature-info">
          <div class="feature-info__photo-content">
            <img
              class="feature-info__photo-item"
              src="<%=require('../images/car_first_slide.jpg')%>"
              alt="первый слайд"
            />
            <img
              class="feature-info__photo-item"
              src="<%=require('../images/car_second_slide.jpg')%>"
              alt="второй слайд"
            />
            <img
              class="feature-info__photo-item"
              src="<%=require('../images/car_third_slide.jpg')%>"
              alt="третий слайд"
            />
            <img
              class="feature-info__photo-item"
              src="<%=require('../images/car_forth_slide.jpg')%>"
              alt=" четвертый слайд"
            />
          </div>
          <div class="feature-info__text-content">
            <p class="feature-info__text">
              Наши тралы, выпущенные на заводе Тверьстроймаш, известны своей
              высокой грузоподъемностью. Способные перевозить грузы весом в 60,
              70, 80 и 90 тонн, они готовы удовлетворить любые ваши потребности
              в грузоперевозках.
            </p>
            <p class="feature-info__text">
              Независимо от того, насколько большой или тяжелый ваш груз, вы
              можете быть уверены, что мы найдем для него подходящее
              транспортное средство.
            </p>
          </div>
        </section>
        <%= require('@common.blocks/slider.ejs').default %>
        <section class="feature-info feature-info_type_left-text">
          <div class="feature-info__photo-content">
            <img
              class="feature-info__photo-item"
              src="<%=require('../images/car_fith_slide.jpg')%>"
              alt="первый слайд"
            />
            <img
              class="feature-info__photo-item"
              src="<%=require('../images/car_sixth_slide.jpg')%>"
              alt="второй слайд"
            />
            <img
              class="feature-info__photo-item"
              src="<%=require('../images/car_seventh_slide.jpg')%>"
              alt="третий слайд"
            />
            <img
              class="feature-info__photo-item"
              src="<%=require('../images/car_eighth_slide.jpg')%>"
              alt=" четвертый слайд"
            />
          </div>
          <div class="feature-info__text-content">
            <p class="feature-info__text">
              Кроме того, наш автопарк оборудован тягачами от ведущего
              производителя MAN. Эти транспортные средства отличаются
              надежностью и мощностью, обеспечивая комфортную и бесперебойную
              доставку ваших грузов.
            </p>
            <p class="feature-info__text">
              Наш автопарк - это залог вашего спокойствия. В RTE Group мы не
              просто перевозим грузы, мы строим доверительные отношения с нашими
              клиентами, обеспечивая им лучший сервис в отрасли. Мы всегда рады
              обсудить ваши потребности в грузоперевозках и предложить вам
              оптимальное решение.
            </p>
          </div>
        </section>
        <section class="cases-cards"></section>
        <section class="gallery-reviews"></section>
        <section class="list-drop-down"></section>
      </main>
      <%= require('@common.blocks/footer.ejs').default %>
    </div>
  </body>
</html>
