<!doctype html>
<html lang="ru">
  <head>
    <!-- Meta tags of site pages -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta
      name="description"
      content="Компания RTE Group. Каждый кейс — это уникальная история, демонстрирующая наши ценности и обязательства перед клиентами."
    />
    <meta name="keywords" content="HTML5, CSS" />
    <meta name="author" content="Web-разработка: Ильяс Сибгатуллин" />
    <meta name="author" content="Web-разработка: Даниил Рябов" />
    <meta name="author" content="Web-разработка: Виктор Воронков" />
    <meta name="author" content="Web-разработка: Анна Кособуцкая" />
    <meta name="author" content="Web-разработка: Екатерина Яковлева" />
    <meta name="author" content="Web-разработка: Андрей Ланцов" />
    <meta name="author" content="Web-разработка: Богдан Тимощук" />
    <meta name="author" content="Web-разработка: Светлана Подсобляева" />

    <!-- Open Graph Meta Tags -->
    <meta property="og:type" content="business.business" />
    <meta property="og:title" content="Трекинг - важная часть грузоперевозок" />
    <meta
      property="og:description"
      content="Компания RTE Group. Каждый кейс — это уникальная история, демонстрирующая наши ценности и обязательства перед клиентами."
    />
    <meta property="og:url" content="https://rt-express.ru/about" />
    <meta property="og:image" content="https://i.imgur.com/eRmjgqB.png" />
    <meta property="og:site_name" content="РТ Экспресс" />
    <meta property="og:locale" content="ru_RU" />

    <title>Трекинг - важная часть грузоперевозок</title>

    <link rel="stylesheet" href="main.css" />
  </head>

  <body class="page">
    <div class="page__container">
      <%= require('@common.blocks/header.ejs').default %>
      <main>
        <section class="info-form" id="about-trucking"></section>
        <section class="info-blocks" id="info-blocks">
          <div class="info-blocks__container">
            <div class="info-blocks__item">
              <p
                class="info-blocks__h1 info-blocks__text info-blocks__text_type_h1"
              >
                Трекинг грузоперевозок: эффективный контроль и управление
              </p>
            </div>
            <div class="info-blocks__item">
              <p
                class="info-blocks__h2 info-blocks__text info-blocks__text_type_h2"
              >
                Введение
              </p>
              <p
                class="info-blocks__about info-blocks__text info-blocks__text_type_about"
              >
                В современном мире грузоперевозки играют важную роль в
                экономике. Бизнесы поставляют свои товары по всему миру, и
                эффективное управление грузами становится ключевым фактором
                успеха. Одним из инструментов, который помогает контролировать и
                отслеживать грузы на каждом этапе доставки, является трекинг
                грузоперевозок.
              </p>
            </div>
            <div class="info-blocks__item">
              <p
                class="info-blocks__h3 info-blocks__text info-blocks__text_type_h3"
              >
                Что такое трекинг грузоперевозок?
              </p>
              <p
                class="info-blocks__about info-blocks__text info-blocks__text_type_about"
              >
                Трекинг грузоперевозок - это процесс отслеживания местоположения
                и статуса груза на протяжении всего пути доставки. Он позволяет
                бизнесам и клиентам быть в курсе, где находится их груз, и
                контролировать его передвижение.
              </p>
            </div>
            <div class="info-blocks__item">
              <p
                class="info-blocks__h4 info-blocks__text info-blocks__text_type_h4"
              >
                Преимущества трекинга грузоперевозок
              </p>
              <ul class="info-blocks__list info-blocks__list_type_bullet">
                <li
                  class="info-blocks__list-item info-blocks__text info-blocks__text_type_about"
                >
                  Большая прозрачность - трекинг груза дает возможность видеть
                  точное местоположение и статус груза в реальном времени.
                </li>
                <li
                  class="info-blocks__list-item info-blocks__text info-blocks__text_type_about"
                >
                  Улучшенное управление - благодаря трекингу грузоперевозок,
                  бизнесы могут оптимизировать свои логистические процессы и
                  улучшить свою эффективность.
                </li>
                <li
                  class="info-blocks__list-item info-blocks__text info-blocks__text_type_about"
                >
                  Быстрые реакции - в случае задержек или проблем с доставкой,
                  трекинг грузоперевозок позволяет оперативно реагировать и
                  принимать необходимые меры.
                </li>
              </ul>
            </div>
            <div class="info-blocks__item">
              <p
                class="info-blocks__h5 info-blocks__text info-blocks__text_type_h5"
              >
                Технологии трекинга грузоперевозок
              </p>
              <ol class="info-blocks__list info-blocks__list_type_number">
                <li
                  class="info-blocks__list-item info-blocks__text info-blocks__text_type_about"
                >
                  Большая прозрачность - трекинг груза дает возможность видеть
                  точное местоположение и статус груза в реальном времени.
                </li>
                <li
                  class="info-blocks__list-item info-blocks__text info-blocks__text_type_about"
                >
                  Улучшенное управление - благодаря трекингу грузоперевозок,
                  бизнесы могут оптимизировать свои логистические процессы и
                  улучшить свою эффективность.
                </li>
                <li
                  class="info-blocks__list-item info-blocks__text info-blocks__text_type_about"
                >
                  Быстрые реакции - в случае задержек или проблем с доставкой,
                  трекинг грузоперевозок позволяет оперативно реагировать и
                  принимать необходимые меры.
                </li>
              </ol>
            </div>
            <div class="info-blocks__item">
              <p
                class="info-blocks__h6 info-blocks__text info-blocks__text_type_h6"
              >
                Пример трекинга грузоперевозок
              </p>
              <p
                class="info-blocks__about info-blocks__text info-blocks__text_type_about"
              >
                Допустим, компания решила отправить товары из своего склада в
                другой город. С помощью трекинга грузоперевозок, она может:
              </p>
              <ul class="info-blocks__list info-blocks__list_type_bullet">
                <li
                  class="info-blocks__list-item info-blocks__text info-blocks__text_type_about"
                >
                  Установить GPS-трекеры на грузовые автомобили, чтобы
                  отслеживать их местоположение в реальном времени.
                </li>
                <li
                  class="info-blocks__list-item info-blocks__text info-blocks__text_type_about"
                >
                  Получать уведомления о статусе доставки, например, когда груз
                  покидает склад или прибывает на пункт назначения.
                </li>
              </ul>
            </div>
            <div class="info-blocks__item">
              <p
                class="info-blocks__smalltext info-blocks__text info-blocks__text_type_smalltext"
              >
                Мелкий текст
              </p>
            </div>
            <div class="info-blocks__item info-blocks__item_type_caption">
              <div class="info-blocks__half">
                <img
                  src="../images/info-block__quote@2x.png"
                  alt=""
                  class="info-blocks__icon"
                />
              </div>
              <div class="info-blocks__half">
                <p
                  class="info-blocks__about info-blocks__text info-blocks__text_type_about"
                >
                  Трекинг грузоперевозок - это процесс отслеживания
                  местоположения и статуса груза на протяжении всего пути
                  доставки. Он позволяет бизнесам и клиентам быть в курсе, где
                  находится их груз, и контролировать его передвижение.
                </p>
                <p
                  class="info-blocks__smalltext info-blocks__text info-blocks__text_type_smalltext"
                >
                  Иван Голубев
                </p>
              </div>
            </div>
          </div>
        </section>
      </main>
      <%= require('@common.blocks/footer.ejs').default %>
    </div>
    <script src="main.js"></script>
  </body>
</html>
