<!doctype html>
<html lang="ru">
  <head>
    <!-- Meta tags of site pages -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta
      name="description"
      content="Свяжитесь с нами для получения дополнительной информации или задайте свои вопросы по нашим услугам. Мы всегда готовы помочь вам!"
    />

    <meta name="keywords" content="HTML5, CSS" />
    <meta name="author" content="Web-разработка: Ильяс Сибгатуллин" />
    <meta name="author" content="Web-разработка: Даниил Рябов" />
    <meta name="author" content="Web-разработка: Виктор Воронков" />
    <meta name="author" content="Web-разработка: Анна Кособуцкая" />
    <meta name="author" content="Web-разработка: Екатерина Яковлева" />
    <meta name="author" content="Web-разработка: Андрей Ланцов" />
    <meta name="author" content="Web-разработка: Богдан Тимощук" />
    <meta name="author" content="Web-разработка: Светлана Подсобляева" />

    <!-- Open Graph Meta Tags -->
    <meta property="og:type" content="business.business" />
    <meta property="og:title" content="Контакты" />
    <meta
      name="description"
      content="Свяжитесь с нами для получения дополнительной информации или задайте свои вопросы по нашим услугам. Мы всегда готовы помочь вам!"
    />
    <meta property="og:url" content="https://rt-express.ru/contacts" />
    <meta property="og:image" content="https://i.imgur.com/eRmjgqB.png" />
    <meta property="og:site_name" content="РТ Экспресс" />
    <meta property="og:locale" content="ru_RU" />

    <title>Контакты</title>

    <link rel="stylesheet" href="main.css" />
  </head>

  <body class="page">
    <div class="page__container">
      <%= require('@common.blocks/header.ejs').default %>
      <main class="main">
        <section class="city-contacts">
          <h1 class="city-contacts__title">Контакты</h1>
          <%= require('@common.blocks/city-contacts__gallery.ejs').default %>
          <div class="city-contacts__form">
            <form class="form" novalidate>
              <div class="form__container">
                <p class="form__title form__text form__text_type_title">
                  <span class="form__desktop-contacts">Связаться с нами</span
                  ><span class="form__mobile-contacts">Оставить заявку</span>
                </p>
                <div class="input form__field-name">
                  <div class="input__container name-container">
                    <input
                      type="text"
                      id="name"
                      class="input__field input__text input__text_type_field"
                      placeholder=""
                      required
                      data-error-message="Поле обязательно для заполнения"
                    />
                    <label
                      class="input__placeholder input__text input__text_type_placeholder name-placeholder"
                      >Имя*</label
                    >
                  </div>
                  <span class="input__text_type_error name-error"></span>
                </div>
                <div class="input form__field-phone">
                  <div class="input__container phone-number-container">
                    <input
                      type="text"
                      id="phone-number"
                      class="input__field input__text input__text_type_field"
                      placeholder=""
                      required
                      data-error-message="Поле обязательно для заполнения"
                    />
                    <label
                      class="input__placeholder input__text input__text_type_placeholder phone-number-placeholder"
                      >E-mail*</label
                    >
                  </div>
                  <span
                    class="input__text_type_error phone-number-error"
                  ></span>
                </div>
                <div class="input form__field-details">
                  <div class="input__container">
                    <textarea
                      type="text"
                      id="summary"
                      class="input__field input__text input__text_type_field"
                      placeholder=""
                    ></textarea>
                    <label
                      class="input__placeholder input__text input__text_type_placeholder"
                      >Текст сообщения</label
                    >
                  </div>
                  <div
                    class="input__caption form__caption form__checkbox-control-container form__desktop-contacts"
                  >
                    <label
                      for="form__checkbox-control"
                      class="form__checkbox form__checkbox-control-placeholder"
                      ><input
                        type="checkbox"
                        name="caption-checkbox"
                        id="form__checkbox-control"
                        class="input__field form__checkbox-control"
                        required
                      />
                      <span class="form__checkbox-viewer"></span>
                    </label>
                    <p
                      class="input__text input__text_type_caption form__text form__text_type_caption"
                    >
                      Согласен на обработку персональных данных в соответствии с
                      <a href="#" class="form__link" target="_blank"
                        >политикой конфиденциальности</a
                      >
                    </p>
                    <span
                      class="input__text_type_error form__checkbox-control-error form__checkbox-control-error_inactive"
                    ></span>
                  </div>
                </div>
                <button
                  type="submit"
                  class="button button_type_default form__button"
                >
                  <p class="button__text">Отправить</p>
                </button>
              </div>
            </form>
          </div>
        </section>
        <section class="section-form"></section>
      </main>
      <%= require('@common.blocks/footer.ejs').default %>
    </div>
    <div class="popup">
      <div class="popup__container">
        <button class="popup__close"></button>
        <div class="popup__half">
          <img
            src="<%=require('../images/popup__icon@2x.png')%>"
            alt=""
            class="popup__image"
          />
        </div>
        <div class="popup__half">
          <p class="popup__title popup__text popup__text_type_title">
            Ваше обращение отправлено
          </p>
          <p class="popup__about popup__text popup__text_type_about">
            Мы свяжемся с вами в ближайшее время
          </p>
        </div>
      </div>
    </div>
    <script src="main.js"></script>
  </body>
</html>
