<!doctype html>
<html lang="ru">
  <head>
    <!-- Meta tags of site pages -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta
      property="og:description"
      content="Узнайте о возможностях работы у нас"
    />

    <meta name="keywords" content="HTML5, CSS" />
    <meta name="author" content="Web-разработка: Ильяс Сибгатуллин" />
    <meta name="author" content="Web-разработка: Даниил Рябов" />
    <meta name="author" content="Web-разработка: Виктор Воронков" />
    <meta name="author" content="Web-разработка: Анна Кособуцкая" />
    <meta name="author" content="Web-разработка: Екатерина Яковлева" />
    <meta name="author" content="Web-разработка: Андрей Ланцов" />
    <meta name="author" content="Web-разработка: Богдан Тимощук" />
    <meta name="author" content="Web-разработка: Светлана Подсобляева" />

    <!-- Open Graph Meta Tags -->
    <meta property="og:type" content="business.business" />
    <meta property="og:title" content="Работа у нас" />
    <meta
      property="og:description"
      content="Узнайте о возможностях работы у нас"
    />
    <meta property="og:url" content="https://rt-express.ru/work-with-us" />
    <meta property="og:image" content="https://i.imgur.com/eRmjgqB.png" />
    <meta property="og:site_name" content="РТ Экспресс" />
    <meta property="og:locale" content="ru_RU" />

    <title>Работа у нас</title>

    <link rel="stylesheet" href="main.css" />
  </head>

  <body class="page">
    <div class="page__container">
      <%= require('@common.blocks/header.ejs').default %>
      <main class="main">
        <section class="work-with-us">
          <!-- <div class="work-with-us__main-content"> -->
            <h1 class="work-with-us__title">Работа у нас</h1>
                      <div class="work-with-us__main-content">
            <div class="work-with-us__container">
              <p class="work-with-us__subtitle">Логистика</p>
              <table class="work-with-us__table">
                <tr
                  class="work-with-us__table-row"
                >
                  <td
                    class="work-with-us__table-column"
                  >
                    Специалист в службу логистики
                  </td>
                  <td class="work-with-us__table-column">
                    Любой город
                  </td>
                </tr>
                <tr
                  class="work-with-us__table-row"
                >
                  <td
                    class="work-with-us__table-column"
                  >
                    Вакансия
                  </td>
                  <td class="work-with-us__table-column">
                    Любой город
                  </td>
                </tr>
                <tr
                  class="work-with-us__table-row"
                >
                  <td
                    class="work-with-us__table-column"
                  >
                  Вакансия
                  </td>
                  <td class="work-with-us__table-column">
                    Любой город
                  </td>
                </tr>
                <tr
                class="work-with-us__table-row"
              >
                <td
                  class="work-with-us__table-column"
                >
                Вакансия
                </td>
                <td class="work-with-us__table-column">
                  Любой город
                </td>
              </tr>
              <tr
              class="work-with-us__table-row"
            >
              <td
                class="work-with-us__table-column"
              >
              Вакансия
              </td>
              <td class="work-with-us__table-column">
                Любой город
              </td>
            </tr>
              </table>
            </div>
            <div class="work-with-us__container">
              <p class="work-with-us__subtitle">Название отрасли</p>
              <table class="work-with-us__table">
                <tr
                  class="work-with-us__table-row"
                >
                  <td
                    class="work-with-us__table-column"
                  >
                  Вакансия                  </td>
                  <td class="work-with-us__table-column">
                    Любой город
                  </td>
                </tr>
                <tr
                  class="work-with-us__table-row"
                >
                  <td
                    class="work-with-us__table-column"
                  >
                  Вакансия                  </td>
                  <td class="work-with-us__table-column">
                    Любой город
                  </td>
                </tr>
                <tr
                  class="work-with-us__table-row"
                >
                  <td
                    class="work-with-us__table-column"
                  >
                  Вакансия                  </td>
                  <td class="work-with-us__table-column">
                    Любой город
                  </td>
                </tr>
                <tr
                  class="work-with-us__table-row"
                >
                  <td
                    class="work-with-us__table-column"
                  >
                  Вакансия                  </td>
                  <td class="work-with-us__table-column">
                    Любой город
                  </td>
                </tr>
                <tr
                  class="work-with-us__table-row"
                >
                  <td
                    class="work-with-us__table-column"
                  >
                  Вакансия
                  </td>
                  <td class="work-with-us__table-column">
                    Любой город
                  </td>
                </tr>
              </table>
            </div>
            <div class="work-with-us__container">
              <p class="work-with-us__subtitle">Название отрасли</p>
              <table class="work-with-us__table">
                <tr
                  class="work-with-us__table-row"
                >
                  <td
                    class="work-with-us__table-column"
                  >
                  Вакансия
                  </td>
                  <td class="work-with-us__table-column">
                    Любой город
                  </td>
                </tr>
                <tr
                  class="work-with-us__table-row"
                >
                  <td
                    class="work-with-us__table-column"
                  >
                  Вакансия
                  </td>
                  <td class="work-with-us__table-column">
                    Любой город
                  </td>
                </tr>
                <tr
                  class="work-with-us__table-row"
                >
                  <td
                    class="work-with-us__table-column"
                  >
                  Вакансия
                  </td>
                  <td class="work-with-us__table-column">
                    Любой город
                  </td>
                </tr>
                <tr
                  class="work-with-us__table-row"
                >
                  <td
                    class="work-with-us__table-column"
                  >
                  Вакансия
                  </td>
                  <td class="work-with-us__table-column">
                    Любой город
                  </td>
                </tr>
                <tr
                  class="work-with-us__table-row"
                >
                  <td
                    class="work-with-us__table-column"
                  >
                  Вакансия
                  </td>
                  <td class="work-with-us__table-column">
                    Любой город
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <div class="work-with-us__form">
            <form class="form job-form" novalidate>
              <div class="form__container job-form__container">
                <p
                  class="form__title form__text form__text_type_title job-form__title"
                >
                  Отправить резюме
                </p>
                <div class="input form__field-name job-form__field-name">
                  <div class="input__container name-container">
                    <input
                      type="text"
                      id="name"
                      class="input__field input__text input__text_type_field"
                      placeholder=""
                      required
                      data-error-message="Поле обязательно для заполнения"
                    />
                    <label
                      class="input__placeholder input__text input__text_type_placeholder name-placeholder"
                      >Имя*</label
                    >
                  </div>
                  <span class="input__text_type_error name-error"></span>
                </div>
                <div class="input form__field-e-mail job-form__field-e-mail">
                  <div class="input__container e-mail-container">
                    <input
                      type="text"
                      id="phone-number"
                      class="input__field input__text input__text_type_field"
                      placeholder=""
                      required
                      data-error-message="Поле обязательно для заполнения"
                    />
                    <label
                      class="input__placeholder input__text input__text_type_placeholder e-mail-placeholder"
                      >E-mail*</label
                    >
                  </div>
                  <span class="input__text_type_error e-mail-error"></span>
                </div>
                <div class="input form__field-phone job-form__field-phone">
                  <div class="input__container phone-number-container">
                    <input
                      type="text"
                      id="name"
                      class="input__field input__text input__text_type_field"
                      placeholder=""
                      required
                      data-error-message="Поле обязательно для заполнения"
                    />
                    <label
                      class="input__placeholder input__text input__text_type_placeholder phone-number-placeholder"
                      >Телефон*</label
                    >
                  </div>
                  <span
                    class="input__text_type_error phone-number-error"
                  ></span>
                </div>
                <div class="job-form__field-details">
                  <div class="drag-drop drag-drop__container">
                    <img
                      class="drag-drop__image"
                      src="<%= require('@images/drag-drop__icon@2x.png') %>"
                    />
                    <textarea
                      type="text"
                      id="summary"
                      class="input__field input__text input__text_type_field drag-drop__note"
                      placeholder=""
                    ></textarea>
                    <label
                      class="input__text input__text_type_placeholder drag-drop__note drag-drop__placeholder"
                      >Выберите файл<span class="drag-drop__note_invisible">
                        или перетащите его в эту область</span
                      ></label
                    >
                  </div>
                  <div
                    class="input__caption form__caption form__checkbox-control-container form__desktop-contacts job-form__caption"
                  >
                    <label
                      for="form__checkbox-control"
                      class="form__checkbox form__checkbox-control-placeholder job-form__checkbox"
                      ><input
                        type="checkbox"
                        name="caption-checkbox"
                        id="form__checkbox-control"
                        class="input__field form__checkbox-control job-form__checkbox-control"
                        required
                      />
                      <span class="form__checkbox-viewer"></span>
                    </label>
                    <p
                      class="input__text input__text_type_caption form__text form__text_type_caption"
                    >
                      Согласен на обработку персональных данных в соответствии с
                      <a href="#" class="form__link" target="_blank"
                        >политикой конфиденциальности</a
                      >
                    </p>
                    <span
                      class="input__text_type_error form__checkbox-control-error form__checkbox-control-error_inactive"
                    ></span>
                  </div>
                </div>
                <button
                  type="submit"
                  class="button button_type_default form__button job-form__button"
                >
                  <p class="button__text">Отправить</p>
                </button>
              </div>
            </form>
          </div>
        </section>
      </main>
      <%= require('@common.blocks/footer.ejs').default %>
    </div>
    <div class="popup">
      <div class="popup__container">
        <button class="popup__close"></button>
        <div class="popup__half">
          <img
            src="<%=require('../images/popup__icon@2x.png')%>"
            alt=""
            class="popup__image"
          />
        </div>
        <div class="popup__half">
          <p class="popup__title popup__text popup__text_type_title">
            Ваше резюме отправлено
          </p>
          <p class="popup__about popup__text popup__text_type_about">
            Мы свяжемся с вами в ближайшее время
          </p>
        </div>
      </div>
    </div>
    <script src="main.js"></script>
  </body>
</html>
