<!doctype html>
<html lang="ru">
  <head>
    <!-- Meta tags of site pages -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta
      name="description"
      content="Компания RTE Group предлагает широкий спектр услуг по перевозке крупногабаритных и негабаритных грузов, а также доставке специальной техники."
    />
    <meta name="keywords" content="HTML5, CSS" />
    <meta name="author" content="Web-разработка: Ильяс Сибгатуллин" />
    <meta name="author" content="Web-разработка: Даниил Рябов" />
    <meta name="author" content="Web-разработка: Виктор Воронков" />
    <meta name="author" content="Web-разработка: Анна Кособуцкая" />
    <meta name="author" content="Web-разработка: Екатерина Яковлева" />
    <meta name="author" content="Web-разработка: Андрей Ланцов" />
    <meta name="author" content="Web-разработка: Богдан Тимощук" />
    <meta name="author" content="Web-разработка: Светлана Подсобляева" />

    <!-- Open Graph Meta Tags -->
    <meta property="og:type" content="business.business" />
    <meta property="og:title" content="Услуги" />
    <meta
      property="og:description"
      content="Компания RTE Group предлагает широкий спектр услуг по перевозке крупногабаритных и негабаритных грузов, а также доставке специальной техники."
    />
    <meta property="og:url" content="https://rt-express.ru/about" />
    <meta property="og:image" content="https://i.imgur.com/eRmjgqB.png" />
    <meta property="og:site_name" content="РТ Экспресс" />
    <meta property="og:locale" content="ru_RU" />

    <title>Услуги</title>

    <link rel="stylesheet" href="../scss/test.css" />
  </head>

  <body class="page">
    <div class="page__container">
      <%= require('@common.blocks/header.ejs').default %>
      <main>
        <section class="info-form" id="get-service"></section>
        <section class="gallery-info-cards">
          <div class="gallery-info-cards__gallery">
            <%= require('@common.blocks/services/servises.ejs').default %>
          </div>
        </section>
        <seciton class="step-by-step-list">
          <div class="step-by-step-list__container">
            <div class="step-by-step-list__ellipse"></div>
            <div class="step-by-step-list__half">
              <p class="step-by-step-list__title step-by-step-list__text">
                Как Мы Работаем: Процесс Перевозки Экскаватора с RTE Group
              </p>
            </div>
            <div class="step-by-step-list__half">
              <div class="whyme">
                <div class="whyme__container">
                  <div class="whyme__circle">
                    <p
                      class="whyme__number whyme__text whyme__text_type_number"
                    >
                      1
                    </p>
                  </div>
                  <p class="whyme__title whyme__text whyme__text_type_title">
                    Опытные логисты и водители
                  </p>
                  <p class="whyme__about whyme__text whyme__text_type_about">
                    Сумеют построить маршрут, который сэкономит ваши деньги и
                    время и довезут ваш груз вовремя, в целости и сохранности.
                    Средний опыт наших сотрудников – 15 лет в сфере
                    грузоперевозок.
                  </p>
                </div>
              </div>
              <div class="step-by-step-list__break"></div>
              <div class="whyme">
                <div class="whyme__container">
                  <div class="whyme__circle">
                    <p
                      class="whyme__number whyme__text whyme__text_type_number"
                    >
                      1
                    </p>
                  </div>
                  <p class="whyme__title whyme__text whyme__text_type_title">
                    Опытные логисты и водители
                  </p>
                  <p class="whyme__about whyme__text whyme__text_type_about">
                    Сумеют построить маршрут, который сэкономит ваши деньги и
                    время и довезут ваш груз вовремя, в целости и сохранности.
                    Средний опыт наших сотрудников – 15 лет в сфере
                    грузоперевозок.
                  </p>
                </div>
              </div>
              <div class="step-by-step-list__break"></div>
              <div class="whyme">
                <div class="whyme__container">
                  <div class="whyme__circle">
                    <p
                      class="whyme__number whyme__text whyme__text_type_number"
                    >
                      1
                    </p>
                  </div>
                  <p class="whyme__title whyme__text whyme__text_type_title">
                    Опытные логисты и водители
                  </p>
                  <p class="whyme__about whyme__text whyme__text_type_about">
                    Сумеют построить маршрут, который сэкономит ваши деньги и
                    время и довезут ваш груз вовремя, в целости и сохранности.
                    Средний опыт наших сотрудников – 15 лет в сфере
                    грузоперевозок.
                  </p>
                </div>
              </div>
              <div class="step-by-step-list__break"></div>
              <div class="whyme">
                <div class="whyme__container">
                  <div class="whyme__circle">
                    <p
                      class="whyme__number whyme__text whyme__text_type_number"
                    >
                      1
                    </p>
                  </div>
                  <p class="whyme__title whyme__text whyme__text_type_title">
                    Опытные логисты и водители
                  </p>
                  <p class="whyme__about whyme__text whyme__text_type_about">
                    Сумеют построить маршрут, который сэкономит ваши деньги и
                    время и довезут ваш груз вовремя, в целости и сохранности.
                    Средний опыт наших сотрудников – 15 лет в сфере
                    грузоперевозок.
                  </p>
                </div>
              </div>
              <div class="step-by-step-list__break"></div>
              <div class="whyme">
                <div class="whyme__container">
                  <div class="whyme__circle">
                    <p
                      class="whyme__number whyme__text whyme__text_type_number"
                    >
                      1
                    </p>
                  </div>
                  <p class="whyme__title whyme__text whyme__text_type_title">
                    Опытные логисты и водители
                  </p>
                  <p class="whyme__about whyme__text whyme__text_type_about">
                    Сумеют построить маршрут, который сэкономит ваши деньги и
                    время и довезут ваш груз вовремя, в целости и сохранности.
                    Средний опыт наших сотрудников – 15 лет в сфере
                    грузоперевозок.
                  </p>
                </div>
              </div>
              <div class="step-by-step-list__break"></div>
              <div class="whyme">
                <div class="whyme__container">
                  <div class="whyme__circle">
                    <p
                      class="whyme__number whyme__text whyme__text_type_number"
                    >
                      1
                    </p>
                  </div>
                  <p class="whyme__title whyme__text whyme__text_type_title">
                    Опытные логисты и водители
                  </p>
                  <p class="whyme__about whyme__text whyme__text_type_about">
                    Сумеют построить маршрут, который сэкономит ваши деньги и
                    время и довезут ваш груз вовремя, в целости и сохранности.
                    Средний опыт наших сотрудников – 15 лет в сфере
                    грузоперевозок.
                  </p>
                </div>
              </div>
              <div class="step-by-step-list__break"></div>
              <div class="whyme">
                <div class="whyme__container">
                  <div class="whyme__circle">
                    <p
                      class="whyme__number whyme__text whyme__text_type_number"
                    >
                      1
                    </p>
                  </div>
                  <p class="whyme__title whyme__text whyme__text_type_title">
                    Опытные логисты и водители
                  </p>
                  <p class="whyme__about whyme__text whyme__text_type_about">
                    Сумеют построить маршрут, который сэкономит ваши деньги и
                    время и довезут ваш груз вовремя, в целости и сохранности.
                    Средний опыт наших сотрудников – 15 лет в сфере
                    грузоперевозок.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </seciton>
      </main>
      <%= require('@common.blocks/footer.ejs').default %>
    </div>
  </body>
</html>
