.case {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  gap: 24px;
  padding: 8px;
  width: 344px;
  border-radius: 24px;
  border: 1px solid $colorBorder;

  &__image {
    border-radius: 16px;
    height: 144px;
    width: 328px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 280px;
  }

  &__text {
    @include reset();
    @include text();
    color: $white;

    &_type_title {
      @include text-format(20px, 700, 1.3);
    }
    &_type_about {
      @include text-format(16px, 400, 1.5);
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    &_type_tag {
      @include text-format(12px, 400, 1);
      width: max-content;
    }
  }
  &__cloud {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 300px;
    margin-bottom: 24px;
  }
  &__tag {
    padding: 6px 12px;
    border-radius: 24px;
    background: $colorButtonDisabledHover;
    width: max-content;
  }
}
