/* stylelint-disable */
@import "@scss/utills/variables";
@import "@scss/utills/mixins";
/* stylelint-enable */

.form {
  @include container-max-widths;

  padding: 24px;
  max-width: 480px;
  box-sizing: border-box;

  &__container {
    display: grid;
    grid-template-rows: auto 24px auto 16px auto 16px auto 24px auto;
    max-width: 400px;
  }

  &__text {
    @include reset();
    @include text();

    color: $white;

    &_type_title {
      @include text-format(20px, 700, 1.3);
    }
  }

  &__title {
    grid-row: 1;
  }

  &__caption {
    display: flex;
    grid-row: 9;
    padding: 16px 0 0;
  }

  &__link {
    color: $primaryGreenColor;
    text-decoration: none;
  }

  &__button {
    grid-row: 9;
  }

  &__field-name {
    grid-row: 3;
  }

  &__field-phone {
    grid-row: 5;
  }

  &__field-details {
    grid-row: 7;
    height: auto;
  }

  &__field-details > .input__container {
    min-height: 114px;
  }

  &__field-details > .input__container > .input__field {
    resize: none;
    min-height: calc(114px - 25px);
    overflow: hidden;
  }

  &__checkbox {
    display: inline-block;
    position: relative;
    height: 24px;
    width: 24px;
    margin-right: 23px;
  }

  &__checkbox-viewer {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 24px;
    width: 24px;
    background-image: url("../images/form__checkbox-empty@2x.png");
    background-size: contain;
    z-index: 1;
  }

  &__checkbox-control {
    @include reset();

    position: absolute;
    top: 0;
    bottom: 0;
    height: 24px;
    width: 24px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;

    &_invalid ~ .form__checkbox-viewer {
      background-image: url("../images/checkbox_invalid.png");
    }

    &:checked ~ .form__checkbox-viewer {
      background-image: url("../images/form__checkbox-filled@2x.png");
    }

  }
}

@media screen and (width <= 767px) {
  .form {
    max-width: 360px;
    padding: 16px;
    margin-top: 96px;

    &__container {
      max-width: 296px;
      width: 100%;
    }

    &__title {
      max-width: 296px;
      width: 100%;

      &_mobile {
        font-size: 0;
      }
    }
  }
}
