/* stylelint-disable */
@import "@scss/utills/variables";
@import "@scss/utills/mixins";
/* stylelint-enable */

.gallery-info-cards {
  @include reset;
  @include container-max-widths;
  display: grid;
  justify-content: center;
  align-content: start;
  gap: 24px;
  grid-template-columns: repeat(auto-fill, 528px);
  @include media(lg) {
    grid-template-columns: repeat(auto-fill, 328px);
    gap: 16px;
  }
}
