.gallery-reviews {
  display: flex;
  flex-direction: column;
  gap: 40px;
  &__title {
    @include reset();
    @include text();
    @include text_type_section();
    color: $white;
  }
  &__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
    @include media(sm) {
      flex-direction: column;
    }
  }
}
