/* stylelint-disable */
@import "@scss/utills/variables";
@import "@scss/utills/mixins";
/* stylelint-enable */

.header {
  @include container-max-widths;

  display: flex;
  flex-direction: column;
  // margin: 0 auto;

  &__container {
    background-color: $bgGrayColor;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    margin: 8px auto 8px 100px;
  }

  &__logo_small {
    display: none;
  }

  &__contacts {
    margin: 8px 100px 8px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__call-icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }

  &__phone-number {
    @include text_type_header;

    margin: 0;
    margin-right: 24px;
    white-space: nowrap;
  }

  &__list-btn {
    display: none;
  }

  &__list-close-btn {
    display: none;
  }

  &__nav-links {
    margin: 0 100px 8px;
    padding-top: 8px;
  }

  &__link {
    @include text_type_header;
    @include text;

    color: $white;
    padding: 8px 16px;
    margin-right: 16px;
  }

  &__link:last-of-type {
    margin-right: 0;
  }

  &__popup {
    visibility: hidden;
    opacity: 0;
    max-width: 360px;
    width: 100%;
    margin-top: 16px;
  }
}

@media screen and (width <= 1079px) {
  .header {

    &__logo {
      margin: 8px 0;
    }

    &__contacts {
      margin: 8px 0;
    }

    &__nav-links {
      margin: 0 0 8px;
      padding-top: 8px;
    }
  }
}

@media screen and (width <= 767px) {
  .header {

    &__container {
      background-color: $bgDarkColor;
    }

    &__logo {
      display: none;
    }

    &__logo_small {
      display: block;
      margin: 8px 38px 8px 16px;
      width: 48px;
      height: 48px;
    }

    &__contacts {
      margin: 0;
    }

    &__place-order-btn {
      display: none;
    }

    &__list-btn {
      background-image: url("~@images/header_list.svg");
      background-color: transparent;
      background-repeat: no-repeat;
      background-position: center;
      border: none;
      display: block;
      width: 36px;
      height: 36px;
      margin: 8px;
      margin-left: 50px;
    }

    &__nav-links {
      display: none;
    }

    &__link {
      padding: 0;
      margin: 16px 0;
    }

    &__popup_opened {
      opacity: 1;
      visibility: visible;
    }

    /* ВАЖНО!!! Внимание!! Код частично дублируется */
    &__popup-nav-links {
      max-width: 312px;
      width: 100%;
      padding-top: 0;
      margin: 0 24px;
      display: flex;
      flex-direction: column;
    }

    &__popup-place-order-btn {
      margin: 216px 16px 24px;
      width: 328px;
      height: 56px;
      padding: 0;
    }

    &__list-close-btn {
      background-image: url("~@images/close-btn.png");
      background-color: transparent;
      background-repeat: no-repeat;
      background-position: center;
      border: none;
      display: block;
      position: relative;
      width: 36px;
      height: 36px;
      margin: 8px;
      margin-left: 50px;
    }
  }
}
