/* stylelint-disable */
@import '@scss/utills/variables';
@import '@scss/utills/mixins';
/* stylelint-enable */

.input {
  display: flex;
  flex-direction: column;
  max-width: 400px;

  @include media(md) {
    max-width: 296px;
    width: 100%;
  }

  &__container {
    display: block;
    position: relative;
    height: 56px;
    box-sizing: border-box;
    padding: 16px 24px 9px;
    border-radius: 36px;
    border: 1px solid $colorInputBorderDefault;

    @include media(md) {
      max-width: 296px;
      width: 100%;
    }

    &:hover {
      border-color: $white;
    }

    &_type_error {
      border-color: $colorTypeFail;
    }

    &_type_error:hover {
      border-color: $colorTypeFail;
    }
  }

  &__caption {
    box-sizing: border-box;
    padding: 8px 24px;

    @include media(md) {
      max-width: 296px;
      width: 100%;
    }
  }

  &__text {
    @include reset();
    @include text();

    color: $gray;

    &_type_placeholder {
      @include text-format(16px, 400, 1.5);
    }

    &_type_caption {
      @include text-format(12px, 500, 1.2);
    }

    &_type_field {
      @include text-format(16px, 400, 1.5);

      color: $white;
    }

    &_type_error {
      color: $colorTypeFail;
    }
  }

  &__placeholder {
    display: block;
    position: absolute;
    top: 16px;
    cursor: text;
    z-index: 1;
    transition: top 0.3s;
  }

  &__field {
    position: absolute;
    top: 17px;
    width: calc(100% - 48px);
    background-color: transparent;
    border: none;
    z-index: 2;

    &:focus,
    &:not(:placeholder-shown) {
      outline: none;
      top: 21px;
    }

    &:focus ~ .input__placeholder,
    &:not(:placeholder-shown) ~ .input__placeholder {
      @include text-format(12px, 400, 1.2);

      color: $white;
      top: 9px;
    }

    &:focus ~ .input__text_type_error,
    &:not(:placeholder-shown) ~ .input__text_type_error {
      color: $colorTypeFail;
    }
  }

  &__field-error {
    &_active {
      @include text;
      @include text_type_fail;

      display: block;
      margin: 8px 24px;
    }
  }
}
