/* stylelint-disable */
@import "@scss/utills/_mixins";
@import "@scss/utills/_variables";
/* stylelint-enable */

.nav {
  &__list {
    @include reset();
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 16px;
    list-style: none;
    @include media(md) {
      flex-direction: column;
      gap: 0;
    }
  }

  &__list-item {
    padding: 8px 16px;
    @include media(md) {
      padding: 16px 24px;
    }
  }

  &__link {
    @include text_type_header;
    text-align: center;
    text-decoration: none;
    color: $white;
  }
}
