/* stylelint-disable */
@import "@scss/utills/variables";
@import "@scss/utills/mixins";
/* stylelint-enable */

.page {
  margin: 0 auto;
  font-family: Monserrat, "Helvetica Neue", Arial, sans-serif;
  background-color: $bgDarkColor;
  color: $white;
  position: relative;
  overflow-x: hidden;

  &__container {
    width: 100%;
  }
}
