/* stylelint-disable */
@import "@scss/utills/variables";
@import "@scss/utills/mixins";
/* stylelint-enable */

.service {
  position: relative;
  @include reset;
  padding: 24px 32px 32px 32px;
  box-sizing: border-box;
  border-radius: 24px;
  @include media(lg) {
    padding: 8px 16px 16px 16px;
  }

  &__header {
    @include reset;
    @include text_type_section;
    @include media(lg) {
      @include text_h_h3;
    }
  }

  &__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 24px;
    @include media(lg) {
      gap: 16px;
    }
  }

  &__container-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    @include media(lg) {
      gap: 16px;
      align-items: stretch;
    }
  }

  &__icon {
    width: 96px;
    @include media(lg) {
      width: 80px;
    }
  }

  &__title {
    @include reset();
    @include text();
    @include text-format(20px, 700, 1.3);

    color: $white;
  }

  &__about {
    @include reset();
    @include text();
    @include text-format(16px, 400, 1.5);

    color: $gray;
  }

  &_type_even {
    background-color: $bgDarkColor;
  }

  &_type_odd {
    background-color: $bgGrayColor;
  }
}
