.step-by-step-list {
  &__container {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 24px;

    @include media(md) {
      flex-direction: column;
      gap: 40px;
    }
  }
  &__half {
    display: flex;
    flex-direction: column;
    max-width: 528px;
  }
  &__break {
    height: 0;
    stroke-width: 1px;
    border-bottom: 1px solid $stroke;
    margin: 40px 0;

    @include media(md) {
      margin: 24px 0;
    }
  }
  &__text {
    @include reset();
    @include text();
    @include text-format(36px, 700, 1.25);
    color: $white;

    @include media(md) {
      @include text-format(28px, 700, 1.25);
    }
  }
}
