/* stylelint-disable */
@import "./style";
@import "@blocks/page";
@import "@blocks/big-logo";
@import "@blocks/greeting";
@import "@blocks/map";
@import "@blocks/footer";
@import "@blocks/slider";
@import "@blocks/input";
@import "@blocks/button";
@import "@blocks/error-page";
@import "@blocks/service";
@import "@blocks/gallery-info-cards";
@import "@blocks/header";
@import "@blocks/form";
@import "@blocks/popup";
@import "@blocks/info-form";
@import "@blocks/nav";
@import "@blocks/list-drop-down";
@import "@blocks/city-contacts";
@import "@blocks/gallery-cities-cards";
@import "@blocks/price-table";
@import "@blocks/text-info";
@import "@blocks/feature-info";
@import "@blocks/intro";
@import "@blocks/contact-form";
/* stylelint-enable */
