@import url("../scss/mixins/variables");
@import url("../scss/mixins/mixins");
@import url("../blocks/page/page");
@import url("../blocks/button/button");
@import url("../blocks/input/input");

.UI {
  max-width: 1280px;
  width: 100vw;
  padding-top: 50px;
  display: grid;
  row-gap: 20px;

  &__title {
    text-align: center;
    grid-row: 1;
    grid-column: 1;
  }

  &__container {
    display: grid;
    row-gap: 20px;
    column-gap: 20px;
    grid-template-columns: 146px 323px;
  }

  &__item {
    padding: 30px 20px;
    display: grid;
    row-gap: 20px;
    box-shadow: 1px 5px 12px rgb(0 0 0 / 70%);
  }
}
