/* stylelint-disable */
@import "@scss/utills/_variables";
@import "@scss/utills/_mixins";
@import "@blocks/page";
@import "@blocks/input";
@import "@blocks/button";
@import "@blocks/service";
@import "@blocks/form";
@import "@blocks/case";
@import "@blocks/conctact";
@import "@blocks/city";
@import "@blocks/popup";
/* stylelint-enable */

.UI {
  max-width: 1280px;
  width: 100vw;
  padding-top: 50px;
  display: grid;
  row-gap: 20px;

  &__title {
    text-align: center;
    grid-row: 1;
    grid-column: 1;
  }

  &__container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, max-content);
  }

  &__item {
    padding: 30px 20px;
    display: grid;
    row-gap: 20px;
    box-shadow: 1px 5px 12px rgb(0 0 0 / 70%);
  }
}
